.admin_body {
    background-color: #f4f6f8;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.8)
    ),
    url("../assets/landing_pg_bg_img.jpg") center/cover no-repeat;
    height: fit-content;
    align-items: center;
}

.table-container {
    max-width: 1400px;
    margin: 50px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #6893be;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

.btn {
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.btn-edit {
    background-color: #3498db;
}

.btn-delete {
    background-color: #e74c3c;
}

.btn:hover {
    opacity: 0.9;
}

.clear-btn {
    padding: 11.5px 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.clear-btn:hover {
    background-color: #5a6268;
}
